/* 
.container {
  max-width: 600px;
  margin: 200px auto;
  text-align: center;
}

.container label {
  font-size: 50px;
  text-align: left;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}
.container h2 {
  font-size: 100px;
  color: #1872f7;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.container input {
  width: 100px;
  height: 50px;
  padding: 6px 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5pt;
  box-sizing: border-box;
  display: block;
}
.container button {
  background-color: #1872f7;
  color: white;
  border: 0;
  padding: 8px;
  cursor: pointer;
}
.input-cont {
  display: flex;
  flex-direction: row;
} */
:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
.body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-image: url("./assets/BG.jpg");
  background-size: cover;
  background-position: center;
}
.container {
  background: rgba(0, 0, 0, 0.321);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 700px;
  height: 700px;
  padding: 50px;

  border: none;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  margin-top: 50px;
  margin-bottom: 80px;
  font-size: 65px;
  text-align: center;
  color: #4188c2;
  font-family: "Courier New", Courier, monospace;
  margin: 20px;
  margin-bottom: 90px;
}
label {
  display: block;
  color: rgb(153, 153, 153);
  font-size: 20px;
  margin-top: 10px;
  font-size: 50px;
  margin-bottom: 90px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
input {
  display: block;
  width: 90%;
  background: transparent;
  border: none;
  outline: none;
  padding-bottom: 50px;
  border-bottom: 2px solid #6b8aa3;
  padding: 10px;
  color: white;
  font-size: 30px;
  margin-bottom: 130px;
}
button {
  display: block;
  justify-content: center;
  width: 50%;
  height: 90px;
  padding: 8px;
  border: none;
  outline: none;
  background: linear-gradient(to right, #4188c2, #465969);
  color: rgb(255, 255, 255);
  font-size: 35px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
}
.button-cont {
  position: relative;
  top: 50%;
  left: 25%;
}
h2 {
  color: #868686;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  padding: 10px 10px;
}
